.row {
    max-width: 100%;
    padding: 0em;
    margin: 0em;
}
body {
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}

/*nav bar*/

.section--menu {
    position: relative;
    overflow: hidden;
    min-height: 5vh;
    padding: 2em 0 8em;
}
.menu {
    line-height: 1;
    margin: 0 auto 0em;
}
.menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu__item {
    display: block;
    margin: 0em 0;
}
.menu__link {
    font-size: 1.05em;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu__link:hover,
.menu__link:focus {
    outline: none;
}
.menu--sebastian .menu__link {
    position: relative;
    display: block;
    margin: 0 0em;
    text-align: center;
    color: white;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}
.menu--sebastian .menu__link:hover,
.menu--sebastian .menu__link:focus {
    color: #fff;
}
.menu--sebastian .menu__item--current .menu__link {
    color: #d94f5c;
}
.menu--sebastian .menu__link::before,
.menu--sebastian .menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #d94f5c;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}
.menu--sebastian .menu__link::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
.menu--sebastian .menu__link::after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.menu--sebastian .menu__item--current .menu__link::before,
.menu--sebastian .menu__item--current .menu__link::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

/*landing page
*/

.landing {
    background-image: url(../img/bg-1.jpg);
    height: 43em;
    background-size: cover;
    position: relative;
}
.landing h1,
h3 {
    color: darkred;
}

/*overlay*/


/*

*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(186, 0, 0, 0.73);
}
h1,
h2,
h3 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: darkred;
    margin-top: 0;
    margin-bottom: 1%;
    line-height: 1.4;
    letter-spacing: 4px;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
}
.button {
    background-color: transparent;
    border: solid 2px;
}
.about {
    background-image: url(../img/urban-geek-web-design-homepage-04.jpg);
    width: 100%;
    color: white;
    height: 19.2em;
    background-size: cover;
    background-attachment: fixed;
    font-size: 30px;
}
.row .row {
    margin: 0em;
}
hr {
    width: 50%;
}
.text-box {
    /*    border: solid 1px white;*/
    padding: 10% 3% 10% 3%;
    margin-top: %;
    background-color: rgba(0, 0, 0, 0.52);
}
.members h2 {
    margin-top: 2%;
    margin-bottom: 1%;
}
.members {
    height: 100vh;
}
footer {
    background-color: darkred;
    height: 20vh;
}
footer li {
    display: inline-block;
    list-style: none;
}
footer .fa {
    color: white;
    font-size: 1em;
}
.portfolio {
    background-color: rgb(5, 4, 11);
    height: 80vh;
}
